/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.text {
	/*-fx-font-family : 'fontname'; This is how to set fonts*/
}

.root {
	-fx-background-image : url('tatai-background-lighter.jpg');
}

.circle {
	-fx-border-color:transparent;
}

.home-buttons {
	-fx-font-size: 18px;
}

.label {
	-fx-font-weight : bold;
}

.button {
	-fx-border-radius:60;
	-fx-border-color:#468499;
	-fx-border-width:2px;
	-fx-background-radius:60;
	}

#questionLabel {
	-fx-padding:40px;
}


#btnRecord {
	-fx-background-color : #FF2700;
	-fx-text-fill : #EEEEFF;
	-fx-border-color : transparent;
}

#btnRecord:hover {
	-fx-opacity:0.6;
}

#lblGamePrompts {
	-fx-padding:20px;
}

.login-prompts {
	-fx-font-size : 18px;
}

#btnLogin {
	-fx-font-size : 25px;
}

#lblMain {
	-fx-font-size : 50px;
}

.home-screen-images {
	-fx-min-width : 100px;
	
}

.main-buttons {
	-fx-font-size : 28px;
	-fx-min-width : 280px;
}

.title-label {
	-fx-font-weight : bold;
	-fx-font-size : 30px;
}





