/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root, .tutorial-end {
	-fx-background-image : url('tatai-background-lighter.jpg');
}

.circle {
	-fx-border-color:transparent;
}

.button {
	-fx-border-radius:60;
	-fx-border-color:#468499;
	-fx-border-width:2px;
	-fx-background-radius:60;
}

.home-buttons {
	-fx-font-size: 18px;
}

.label {
	-fx-font-weight : bold;
}

.label-20px {
	-fx-font-size:20px;
}

.label-30px {
	-fx-font-size:30px;
}

.label-40px {
	-fx-font-size:40px;
}

.label-50px {
	-fx-font-size:50px;
}

.label-60px {
	-fx-font-size:60px;
}


.medal-holder-labels, .progress-labels {
	-fx-font-size : 20px;
}

#lblMain, #lblEmptyDisplay, #leaders-title {
	-fx-font-size : 50px;
}

#lblGameMenuTitle, #customQuizTitle {
	-fx-font-size : 30px;
}

#questionLabel {
	-fx-padding : 40px;
}

#lblGamePrompts {
	-fx-padding:20px;
}


#btnRecord {
	-fx-background-color : #FF2700;
	-fx-text-fill : #EEEEFF;
	-fx-border-color : transparent;
}

#btnRecord:hover {
	-fx-opacity:0.6;
}

.login-prompts {
	-fx-font-size : 18px;
}

#btnLogin, #btnStartCustomQuiz {
	-fx-font-size : 25px;
}

.home-screen-images {
	-fx-min-width : 100px;
}

.main-buttons {
	-fx-font-size : 28px;
	-fx-min-width : 280px;
}

.game-menu-buttons {
	-fx-font-size : 28px;
	-fx-min-width : 200px;
	-fx-max-width : 150px;
	-fx-min-height : 150px;
}

.teacher-menu-buttons {
	-fx-font-size : 30px;
	-fx-min-width : 450px;
	-fx-max-width : 450px;
	-fx-min-height : 130px;
}

.navigation-buttons {
	-fx-font-size : 17px;
	-fx-min-width : 110px;
	-fx-min-height: 50px;
	-fx-max-height: 50px;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.navigation-buttons:hover {
	-fx-background-color: #FFFFFF;
	-fx-border-color: #FFFFFF;
}

.custom-question-label {
	-fx-font-size : 18px;
}

.radio-button {
	-fx-font-size : 20px;
	-fx-font-weight : bold;
}

.tutorial-start {
	-fx-background-image : url('screenshots/start-of-game.jpg');
}

.tutorial-question-attempt {
	-fx-background-image:url('screenshots/question-attempt.jpg');
}

.tutorial-navigation-pane {
	-fx-background-color: #CCCCCC;
	-fx-opacity : 0.0;
}

.tutorial-navigation-pane:hover {
	-fx-opacity : 0.3;
}

.tutorial-info {
	-fx-background-color : #27180e;
	-fx-fill:#27180e;
	-fx-border-fill:#27180e;
	
}

.tutorial-text {
	-fx-font-size : 15px;
	-fx-text-fill : #FFFFFF;
}





